body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: blue;
}

.checkBoxContainer {
    font-family: Helvetica;
    margin-top: 2rem;
    padding: 1rem;
    border: black solid 1px;
}

#mySubmit {
    font-size: 1em;
}

#radius {
    border: 2px solid rgb(147, 147, 227);
    padding: 2rem;
    background-color: palegreen;
    margin-top: 2rem;
    width: 90%;
}


.counter {
    border: 2px solid rgb(147, 147, 227);
    padding: 2rem;
    background-color: aquamarine;
    margin-top: 2rem;
    width: 90%;
}

#checkbox {
    border: 2px solid rgb(147, 147, 227);
    padding: 2rem;
    background-color: paleturquoise;
    margin-top: 2rem;
    width: 90%;
}

.dontClick {
    width: 50%;
}