html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.catchMe {
    position: absolute;
    padding: .5rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: yellow;
}

h2 {
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.box {
    width: 100px;
    height: 100px;
}

#blueBoxes {
    margin-top: 3rem;
}

.blueBox {
    width: 100px;
    height: 100px;
}

.blueBoxContainer {
    display: flex;
    flex-direction: row;
}

#keyevents {
    margin-top: 2rem;
}